---
import TodoElement from "./TodoElement.astro";
import TodoColumn from "./TodoColumn.astro";
import Spacer from "./Spacer.astro";

interface Props {
    title: string;
    completedTitle: string;
    pendingTitle: string;
}

const { title, completedTitle, pendingTitle } = Astro.props;
---

<section id="roadmap">
  <div class="header">
    <i class="fa regular fa-circle-info" style="color:green; padding-right: 10px;"></i>

<h1>
    {title}
</h1>
</div>
    <div class="body">
    <slot name="body"/>
    </div>
<div class="grid-section">
        <TodoColumn title={completedTitle}>
        <slot name="completed"/>
    </TodoColumn>
        <TodoColumn title={pendingTitle}>
        <slot name="pending"/>
    </TodoColumn>
</div>
 
    </TodoColum>
  <Spacer></Spacer>
</section>

<style>
.header{
  display: flex;
  align-items:center;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body{
  width: 50%;
}

.grid-section{
  display: grid;
  gap: 20px 50px;
  grid-template-columns: 30% 30%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  p {
    width: 80%;
  }
  .grid-section{
    gap: 20px 40px;
  }
}
</style>
